*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(174, 99, 245);
}
.container{
    background-color: #ffffff;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding:80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgb(38,33,61,0.2);
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
}
.search-box button{
    padding: 5px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.search-box button:hover{
    background-color: #876cfe;
}
.search-box button:active {
    background-color: #0c0c0c;
    box-shadow: 0 2px #666;
    transform: translateZ()
  }
.result{
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
}
.result .word{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button{
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.result button:hover{
    color: #967ffa;
}
.result button:active{
    color: #613efa;
    transform: translateZ()
}
.result .details{
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color: #575a7b;
}
.word-example{
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
}
.error{
    margin-top: 80px;
    text-align: center;
}
